body {
  background: url(https://cdn.pastemagazine.com/www/articles/2021/06/08/best-movies-in-theaters-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
